{% extends "base.html" %}
{% load blog_extras %}
{% block content %}
<h2>{{ post.title }}</h2>

{% comment %} <div class="row"> {% endcomment %}
    {% row  "border-bottom"%}
    <div class="col">
    {% include "blog/post-byline.html" %}
    </div>
    {% endrow %}
{% comment %} </div> {% endcomment %}
{% comment %} <div class="row"> {% endcomment %}
    {% row %}
    <div class="col">
        {{ post.content|safe }}
    </div>
    {% endrow %}
{% comment %} </div> {% endcomment %}
{% endblock %}
