{% extends "base.html" %}
{% load blog_extras cache %}
<h2>{{ post.title }}</h2>
{% block content %}

{% row %}
    {% col %}
        {{ post.content|safe }}
    {% endcol %}
{% endrow %}
{% comment %} <div class="row"> {% endcomment %}
    {% include "blog/post-comments.html" %}
    {% row %}
    {% comment %} <div class="col"> {% endcomment %}
    {% comment %} {% include "blog/post-byline.html" %} {% endcomment %}
        {% col %}
        {% cache 3600 recent_posts post %}
          {% recent_posts post %}
        {% endcache %}
        {% endcol %}
    {% comment %} </div> {% endcomment %}
    {% endrow %}
   
{% comment %} </div> {% endcomment %}
{% comment %} <div class="row"> {% endcomment %}
 
{% comment %} </div> {% endcomment %}
{% endblock %}
